/* This file contains App component's styles as well as all the common styles of Application, That's the reason this file is not a css module */
@import './variables.scss';

.App {
    color: $secondary-text-color
}

body {
    background-color: $primary-background-color;
    font-family: 'Roboto'
}

.RoundBtn {
    background-color: $primary;
    border-radius: 100px;
    color: $secondary;
}